/* Team colors */

:root {
    --col-transparent: rgba(0, 0, 0, 0);
    --col-team-0: #f44336;
    --col-team-1: #2196f3;
    --bs-body-color: #ffffff;
    --bs-body-bg: #333;
}

.tnull-fg { color: var(--col-transparent); }
.t0-fg { color: var(--col-team-0); }
.t1-fg { color: var(--col-team-1); }
.t0-bg { background-color: var(--col-team-0); }
.t1-bg { background-color: var(--col-team-1); }

/* Utils */

* {
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
}

.hidden {
    display: none !important;
}

#maincontent > div {
    width: 100%;
    height: 100%;
}

*[draggable] {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

*[draggable]:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.dragover {
    outline: 2px dashed gray;
}

svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentColor;
    overflow: visible;
}
